ul{
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
li{
  position:relative;
}
label{
  display: block;
  cursor: pointer;
  position:relative;
  padding:10px;
  background:#eef;
  border-bottom: 1px solid #ccc;
  margin-bottom:-1px;
}
div{
  padding:10px;
  border-bottom: 1px solid #ccc;
}
input{
  display:none;
}
div p{
  margin-bottom:10px;
}
div p:first-of-type{
  padding-top:10px;
}
div p:last-of-type{
  padding-bottom:20px;
}
div{
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  -webkit-transition: .3s;
  transition: .3s;
  overflow:hidden;
  max-height: 0;
  padding:0 10px;
}
i{
  position:absolute;
  right:12px;
  top:12px;
}
label i.icon-angle-down{
  display:none;
}

.closer{
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  display:none;
  background:none;
  border:none;
}
input:checked ~ div{
  max-height: 500px;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
}
input:checked ~ label.closer,
input:checked ~ div,
input:checked ~ label i.icon-angle-down{
  display: block;
}
input:checked ~ label i.icon-angle-up{
  display: none;
}